#contact{
    .container-form{
        background-color: #f3f3f3;
        width: 60%;
        margin: auto;
        padding: 20px;
    }
}

// Login
.login-form{
    .row{
        width: 100%;
    }
}