#Posts-show{
    .container{
        display: flex;
        justify-content: space-between;
        .container-img{
            width: 40%;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        div{
            width: 59%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}